* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

body {
    background-color: black;
    color: white;
    /* overflow-x: hidden; */
}

.header {
    height: auto;
    width: 100vw;
    overflow: hidden;
    /* Hide any overflowing content */
}

a {
    text-decoration: none;
    color: white;
}

.navbar {
    border: 1px solid black;
    height: 20px;
    width: auto;
    margin: 10px;
}

.navbar-div {
    display: flex;
    justify-content: center;
    align-items: center;
}

li {
    list-style: none;
    margin: 20px;
}

.header-image {
    height: 60vh;
    width: 100vw;
    margin-top: 50px;
    overflow: hidden;
    position: relative;
}

.header-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* Cover the container without distorting */
}

.section {
    height: 120vh;
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.section .services {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(39, 39, 39, 0.295);
    border: 1px solid palegreen;
}

.section .testimonials {
    height: 1500px;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    overflow: hidden;
    /* Hide overflowing content */
    width: 100vw;
    border: 1px solid salmon;
}

.quotes {
    display: flex;
    justify-content: center;
    height: 40vh;
    align-items: center;
    /* border: 1px solid green; */
    /* overflow-y: scroll; */
}

.quotes div {
    text-align: center;
    line-height: 40px;
    width: 80%;
    margin-top: 10px;
}

.find-out-more {
    height: 4vh;
    width: 10vw;
    margin-top: 10px;
    border-radius: 5px;
    border: none;
}

.section .services .wedding,
.section .services .corporate-events,
.section .services .social-gat {
    height: 33vh;
    width: 18vw;
    margin: 20px;
    border-radius: 50%;
    overflow: hidden;
    position: relative;
}

.section .services .wedding img,
.section .services .corporate-events img,
.section .services .social-gat img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* Cover the container without distorting */
}

.section .services div {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.section .services div p {
    width: 60%;
    text-align: center;
    line-height: 30px;
}

.section .testimonials div {
    line-height: 40px;
    text-align: center;
    margin: 10px;
}

.section .testimonials div h6 {
    width: 100%;
    text-align: center;
}

.inner {
    display: flex;
    transition: transform 0.5s ease-in-out;
    width: 100%;
}

.item {
    min-width: 100%;
    box-sizing: border-box;
}

.carousel-control {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 30px;
    color: white;
    cursor: pointer;
    user-select: none;
}

.carousel-control.left {
    left: 10px;
}

.carousel-control.right {
    right: 10px;
}

.extra {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200vh;
    width: 100vw;
    border: 1px solid chocolate;
    margin-top: 10px;
    /* border: 1px solid green; */
}

.extra .message,
.extra .Blog,
.extra .newsletter {
    /* border: 1px solid white; */
    height: 80%;
    width: 25%;
    margin: 30px;
    line-height: 30px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.btn-bl {
    height: 50px;
    background-color: black;
    width: 50px;
    border: 1px solid white;
    border-radius: 50%;
    padding: 10px;
    margin-top: 20px;
}

footer .footer-div {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40vh;
    /* border: 1px solid purple; */
    margin-top: 10px;
}

footer .footer-div {
    border-bottom: 1px solid white;
    border-top: 1px solid white;
}

footer .footer-div div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 20%;
    line-height: 30px;
    text-align: center;
}

footer .footer-div div input {
    height: 40px;
    width: 30vh;
    border: none;
    border-radius: 10px;
    padding: 10px;
    text-align: center;
}

footer .footer-div div button {
    margin-top: 10px;
    height: 40px;
    width: 120px;
    background-color: gray;
    border: none;
    border-radius: 15px;
}

footer .footer-div div input::placeholder {
    margin: 10px;
    font-weight: 400;
    font-size: medium;
}

.bottom {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 30vh;
    border-bottom: 1px solid white;
}

.bottom div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.social-media div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    margin: none;
}

.social-media {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
}

.social-media img {
    height: 15px;
    margin: 5px;
    width: 15px;
}


/* media queries */
@media (max-width: 470px) {
    li {
        margin: 10px;
        font-size: small;
    }
}


@media (max-width :1299) {

    .section .services .wedding,
    .section .services .corporate-events,
    .section .services .social-gat {
        height: 26vh;
        width: 18vw;
        margin: 20px;
        border-radius: 50%;
        overflow: hidden;
        position: relative;
    }

    .section .services {
        height: 80vh;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }


}